@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: RobotoMono;
  src: url("font/RobotoMono.ttf") format("opentype");
}

@layer base {
  body {
    background-color: #141517;
    color: #9CA2AE;
    overflow-x: hidden;
  }
  

  body {
    @apply dark:bg-[#F3F4F6] dark:text-[#364252] font-primary
  }
}
