@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #141517;
    color: #9CA2AE;
    overflow-x: hidden;
  }

  body {
    @apply font-RobotoMono dark:bg-[#F3F4F6] dark:text-[#364252]
  }
}
